h1{
    text-align: center;
}

.filter{
    width: 400px;
margin-left: 6px;
  margin-top: 0.5em;
  padding: 	0.938em;
  border-radius: 6px;
  
}
.filter:hover{
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px rgba(11, 11, 59, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
